<<<<<<< HEAD
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  color: #405142;
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 10px;
}

.intro{
  width: 40%;
  margin: auto;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.pro {
  text-decoration: underline;
}

.marketer-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.programmer-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

.whattodo {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 30px 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}
=======
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  color: #405142;
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 10px;
}

.intro{
  width: 40%;
  margin: auto;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.pro {
  text-decoration: underline;
}

.marketer-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.programmer-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

.whattodo {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 30px 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}
>>>>>>> 7aecc614b3386fc29fed10542ed832a7ab572d38
